.git
.gitignore
.gitattributes
.editorconfig
.idea
.vscode
.gradle
build
out
bin
**/*.iml
**/*.ipr
**/*.iws
HELP.md
LICENSE
README.md
Makefile

frontend/node_modules
frontend/dist
frontend/.cache

**/.DS_Store
*.log
